<!-- app.component.html or your component's template -->

<mat-toolbar color="primary">
  <a
    mat-button
    routerLink="/notes"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Notes
  </a>
  <a
    mat-button
    routerLink="/test"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Test
  </a>
</mat-toolbar>

<!-- Wrapper div for styling purposes -->
<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
