.mat-card {
  margin: 20px;
}

.mat-form-field {
  width: 100%; /* Full width for the input field */
}

/* Additional styles for layout */
button {
  margin-left: 10px; /* Ensures spacing between buttons */
}

.mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
